html {
    height: 0;
}

.logo
{
display: flex;
justify-content: center;
}
.logo img
{
    width: 200px;
}
*{
    font-family: 'Pushster', cursive;
}
.titulogeneral
{
    font-family: 'Pushster', cursive;
    display: flex;
    justify-content: center;
    color: white;
}
header
{
    background-color: black;
}
.catalogo
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}